# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Build
dist/
build/
.next/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.pem
.cache/
